@import url('https://fonts.googleapis.com/css?family=Chewy');

html, body {
	margin: 0;
	padding: 0;
	color: #154360;
}

body {
	background: linear-gradient(180deg, #2471A3, #A9CCE3);
	height: 100vh;
}

div {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	background-color: #A9CCE3;
	padding: 10px 0;
	margin: 0;
	top: 0;
	width: 100%;
	height: 10vh;
}

.header h1 {
	font-family: 'Chewy', cursive;
	letter-spacing: .1em;
	font-size: 3em;
}


.board-container {
	text-align: left;
	padding-top: 20px;
	margin: 0;
	min-height: 70vh;
	background-color: #E5E7E9;
}

.create-board, .create-list {
	padding: 20px 0;
	margin-bottom: 10px;
	border: 3px dashed #34495E;
	cursor: pointer;
}
.button-text {
	font-size: em;
}

.board {
	padding: 20px;
	background-color: #F4F6F7;
	/* border: 1px solid #D7DBDD; */
	/* border-radius: 10px; */
	height: auto;
	min-height: 70vh;
}

.container {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
	padding: 0;
}

.lists {
	flex-direction: row;
}

.cards {
	flex-direction: column;
}

.create-list-container {
	display: block;
}

.list {
	border: 1px solid #D7DBDD;
	border-radius: 10px;
	background-color: #E5E7E9;
	/* position: relative; */
	/* display: inline-block; */
	width: 450px;
	margin: 10px;
}

button {
	clear: both;
}

.card {
	border: 1px solid #D7DBDD;
	border-radius: 10px;
	background-color: white;
	margin: 10px;
	padding: 10px;
	box-shadow: 5px 5px 15px 0 #D7DBDD;
}

.navbar-container {
	text-align: left;
}

.navbar-container div {
	display: flex;

}